{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'rooms/style.css' %}">
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>